.play-instrument.active {
    background-color: #d1e7dd !important; /* Cambia el color a lo que prefieras */
    border: 2px solid #0d6efd !important;
}

.screen {
    display: none;
}

.screen.active {
    display: block;
}
