{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
        <h1 class="mt-4">MIDI Ports/Devices</h1>
            </div>
        </div>

        <div class="mb-4">
        <div class="row">
            <div class="col-12">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
            <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Saved</th>
                    </tr>
                </thead>
                <tbody>
                    {% for config in configurations %}
                    <tr>
                        <td>
                        <form method="post" action="{{ url_for('config.edit_config', config_id=config.id) }}" style="display:inline;">
                        <div class="row mt-3">
                        <div class="col-12">
                        <input type="text" name="name" value="{{ config.name }}" required>
                        </div>
                        </div>
                            <div class="row mt-2">
                            <div class="col-12">
                            {{ config.port }}
                            </div>
                            </div>
                            <div class="row">
                            <div class="col-12">
                                <select name="port" required>
                                    {% for port in midi_ports %}
                                    <option value="{{ port }}" {% if port == config.port %}selected{% endif %}>{{ port }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            </div>
                            <div class="row mt-2 mb-3">
                            <div class="col-12">
                            {% if not config.active %}
                            <a href="{{ url_for('config.activate_config', config_id=config.id) }}" class="btn btn-outline-success btn-sm"><i class="fa-solid fa-plug"></i></a>
                            {% else %}
                            <a href="" class="btn btn-success btn-sm"><i class="fa-solid fa-plug"></i></a>
                            {% endif %}
                            <button type="submit" class="btn btn-outline-warning btn-sm"><i class="fa-solid fa-floppy-disk"></i></button>
                            </form>
                            <a href="{{ url_for('config.delete_config', config_id=config.id) }}" class="btn btn-outline-danger btn-sm"><i class="fa-solid fa-trash"></i></a>
                            </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
            </div>
        </div>
        </div>


        <div class="row">
            <div class="col-12">
                <p><b>
                    New
                </b></p>
        <div class="mb-4">
            </div>
        </div>


            <form method="post" action="{{ url_for('config.add_config') }}">
            <div class="col-12">
                <div class="form-group">
                    <label for="name">New Config Name</label>
                    <input type="text" class="form-control" id="name" name="name" required>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label for="port">Select MIDI Port</label>
                    <select class="form-control" id="port" name="port" required>
                        {% for port in midi_ports %}
                        <option value="{{ port }}">{{ port }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-outline-primary mt-3 mb-3" style="float: right;">
                    <i class="fa-solid fa-plus"></i>
                </button>
            </div>
            </form>
            </div>

        <!--

        <div class="row">
            <div class="col-12">
        <div class="mb-4">
            <h2>Active Configuration</h2>
            {% if active_config %}
            <p>Name: {{ active_config.name }}</p>
            <p>Port: {{ active_config.port }}</p>
            {% else %}
            <p>No active configuration</p>
            {% endif %}
        </div>
        </div>
        </div>
    </div>
            -->


{% endblock %}