{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h1 class="mt-4">Manage Instruments for {{ theme.title }}</h1>
        <form method="post">
            <div class="form-group">
                <label for="instruments">Select Instruments</label>
                <select multiple class="form-control" id="instruments" name="instruments">
                    {% for instrument in instruments %}
                    <option value="{{ instrument.id }}">{{ instrument.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-outline-primary mt-2 mb-3" style="float: right;"><i class="fa-solid fa-plus"></i></button>
            <br>
            <br>
        </form>

        <h2 class="mt-4">Related Instruments</h2>
        <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Instrument Name</th>
                    <!--
                    <th>Params</th>
                    -->
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for param_song in related_instruments %}
                <tr>
                    <td>{{ param_song.instrument.name }}</td>
                    <!--
                    <td>{{ param_song.params }}</td>
                    -->
                    <td>
                        <form method="post" action="{{ url_for('song_instruments.remove_instrument', theme_id=theme.id, param_id=param_song.id) }}" style="display:inline;">
                <button type="submit" class="btn btn-outline-danger btn-md mt-2 mb-3" ><i class="fa-solid fa-trash"></i></button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>

{% endblock %}