{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h1 class="mt-4">Samplers</h1>

        <div class="mb-4">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>File</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for sampler in samplers %}
                        <tr>
                            <td>
                                <form method="post" action="{{ url_for('samplers.edit_sampler', sampler_id=sampler.id) }}" style="display:inline;">
                                    <input type="text" name="name" value="{{ sampler.name }}" class="mt-2" required>
                                    <button type="submit" class="btn btn-outline-warning btn-md mt-2"><i class="fa-solid fa-floppy-disk"></i></button>
                                </form>
                                <a href="{{ url_for('jam_test.jam_test', sampler_id=sampler.id) }}" class="btn btn-outline-info btn-md mt-2"><i class="fa-solid fa-ear-listen"></i></a>
                                <a href="{{ url_for('samplers.delete_sampler', sampler_id=sampler.id) }}" class="btn btn-outline-danger btn-md mt-2"><i class="fa-solid fa-trash"></i></a>
                            </td>
                            <td>{{ sampler.filename }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div id="progress-container" style="display: none;">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <div id="progress-text" style="margin-left: 10px;">0%</div>
        </div>

        <div class="mb-4">
            <h2>Add Sampler</h2>
            <form method="post" action="{{ url_for('samplers.add_sampler') }}" enctype="multipart/form-data" id="uploadForm">
                <div class="form-group">
                    <label for="name">Sampler Name</label>
                    <input type="text" class="form-control" id="name" name="name" required>
                </div>
                <div class="form-group">
                    <label for="file">SoundFont File</label>
                    <input type="file" class="form-control" id="file" name="file" accept=".sf2" required>
                </div>
                <button type="submit" class="btn btn-outline-primary mt-2 mb-3" style="float: right;">
                    <i class="fa-solid fa-plus"></i>
                </button>
            </form>
        </div>
    </div>

    <script>
        document.getElementById('uploadForm').onsubmit = function(event) {
            event.preventDefault(); // Prevenir el envío del formulario por defecto

            var fileInput = document.getElementById('file');
            var fileName = fileInput.files[0].name;

            // Emular el comportamiento de secure_filename
            function sanitizeFilename(filename) {
                return filename.replace(/[^a-zA-Z0-9_.-]/g, '_');
            }

            var sanitizedFileName = sanitizeFilename(fileName);
            var existingFiles = [{% for sampler in samplers %}"{{ sampler.filename|replace(' ', '_')|replace("'", "\\'") }}"{% if not loop.last %}, {% endif %}{% endfor %}];

            if (existingFiles.includes(sanitizedFileName)) {
                alert('File already exists');
                return false; // No enviar el formulario
            }

            var form = document.getElementById('uploadForm');
            var formData = new FormData(form);
            var xhr = new XMLHttpRequest();

            xhr.upload.addEventListener('progress', function(event) {
                if (event.lengthComputable) {
                    var percentComplete = Math.round((event.loaded / event.total) * 99);
                    document.getElementById('progress-text').innerText = percentComplete + '%';
                }
            }, false);

            xhr.addEventListener('load', function() {
                if (xhr.status === 200) {
                    console.log('File uploaded successfully');
                } else {
                    console.error('Error uploading file');
                }
            }, false);

            xhr.addEventListener('error', function() {
                console.error('Error uploading file');
            }, false);

            xhr.onreadystatechange = function() {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    document.getElementById('progress-container').style.display = 'none';
                    window.location.reload();
                }
            };

            xhr.open('POST', form.action, true);
            xhr.send(formData);

            document.getElementById('progress-container').style.display = 'flex';
        };
    </script>
{% endblock %}
