<div id="screen1" class="screen active">
            <div class="row">
                {% for param_song in param_songs %}
                <div class="col-md-3">
                    <div class="card mb-4 play-instrument" data-param-song-id="{{ param_song.id }}" data-preset="{{ param_song.instrument.preset }}" data-soundfont="{{ param_song.instrument.source }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ param_song.instrument.name }}</h5>
                            <p class="card-text">{{ param_song.params }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
